*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f9fafb;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding:25px;
    background-color: #ffff;
}
ul{
    list-style: none;
    display: flex;
    gap:20px;
   
}
a{
    text-decoration: none;
    color:black
}
.logo{
    font-size: x-large;
    color: #2563eb;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:25px;
     margin-top: 50px;
     gap:15px;
}
.content{
    display: flex;
    gap:10px;
}
.prof-img{
    width:150px;
    height:150px;
}
