*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f9fafb;
}
h1,h2{
    color:#2563eb
}
.nav{
    display: flex;
    justify-content: space-between;
    padding:25px;
    background-color: #ffff;
}
ul{
    list-style: none;
    display: flex;
    gap:20px;
   
}
a{
    text-decoration: none;
    color:black
}
.logo{
    font-size: x-large;
    color: #2563eb;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:25px;
     margin-top: 50px;
     gap:15px;
}

.prof-img{
    width:150px;
    height:150px;
}

.about{
  
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
     gap:10px;
     padding: 40px;
     margin-top: 50px;
}

.about p{
    max-width: 700px;
    line-height: 1.8;
    font-size: 18px;
    text-align: center; 
}